<div class="avantages">
    <div class="icones2">
      <div class="imageavantages">
        <img class="iconesavantages" src="{{asset('assets/images/svg-icones/livraisonofferte.svg')}}"/>
      </div>
      <h3 class="h4vert text"> Livraison offerte dès 60€ </h3>
    </div>
    <div class="icones2">
      <div class="imageavantages">
        <img class="iconesavantages" src="{{asset('assets/images/svg-icones/recyclage.svg')}}"/>
      </div>
      <h3 class="h4vert text"> 100% recyclables </h3>
    </div>
    <div class="icones2">
      <div class="imageavantages">
        <img class="iconesavantages" src="{{asset('assets/images/svg-icones/directionadresses.svg')}}" />
      </div>
      <h3 class="h4vert"> 15 adresses en Frances</h3>
    </div>
    <div class="icones2">
      <div class="imageavantages">
        <img class="iconesavantages" src="{{asset('assets/images/svg-icones/payementsecurise.svg')}}"/>
      </div>
      <h3 class="h4vert"> Paiement sécurisé </h3>
    </div>
    <div class="icones2">
      <div class="imageavantages">
        <img class="iconesavantages" src="{{asset('assets/images/svg-icones/retraitexpress.svg')}}"/>
      </div>
      <h3 class="h4vert"> Retrait express </h3>
    </div>
</div>