<div class="promotion flex justify-content-center align-center mt-16">
    <div class="exclusivite p-6 mx-6 h-80  flex justify-content-center align-center ">
        <h4 class="h3marron mb-4"> Exclusivité web </h4>
        <p class="h3vert mb-4"> Jusqu'à -10% sur nos plats pour les familles nombreuses*</p>
        <p class="h3vert"> Et, jusqu'à -15% sur notre carte des desserts pour tout nos clients*</p>
    </div>
    <div class="galleryimages">
        <section class="gallerypromotion overflow-hidden text-gray-700">
            <div class="container mx-auto">
                <div class="container2 flex flex-wrap sm:m-1 md:m-2">
                    <div class="flex flex-wrap w-1/2">
                        <div class="w-1/2 p-1 md:p-2">
                            <img alt="gallery" class="gallerie6 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image6.jpg')}}">
                        </div>
                        <div class="w-1/2 p-1 md:p-2">
                            <img alt="gallery" class=" gallerie4 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image4.jpg')}}">
                        </div>
                        <div class="w-full p-1 md:p-2">
                            <img alt="gallery" class="gallerie1 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image1.jpg')}}">
                        </div>
                    </div>
                    <div class="flex flex-wrap w-1/2">
                        <div class="w-full p-1 md:p-2">
                            <img alt="gallery" class="gallerie2 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image2.jpg')}}">
                        </div>
                        <div class="w-1/2 p-1 md:p-2">
                            <img alt="gallery" class="gallerie5 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image5.jpg')}}">
                        </div>
                        <div class="w-1/2 p-1 md:p-2">
                            <img alt="gallery" class="gallerie3 block object-cover object-center w-full h-full"
                            src="{{asset('assets/images/gallerie-image3.png')}}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>